
<h1 class="container"><%= @task.title %></h1>
<h3><%= @task.details %></h3>
<p class="success"><% if @task.completed %>
  <%= "You completed this task!" %></p>
<% else %>
  <p class="fail"> <%= "You have not completed this task!" %>
<% end %> </p>

<div>
<%= link_to "Edit Task", edit_task_path, class: 'btn btn-primary' %>

<%= link_to "Return", tasks_path, class: 'btn btn-primary' %>
<%= link_to 'Delete',task_path(@task), method: :delete, class: 'btn btn-primary' %>
</div>



